.button {
    cursor: pointer;
    font: inherit;
    border: none;
    background-color: hwb(20 34% 63%);
    color: white;
    padding: 0.50rem 1.5rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 25px;
    font-weight: bold;
    margin: 5px;
  }
  
  .button:hover,
  .button:active {
    background-color: #6e645f;
  }
  
  .icon {
    width: 1.35rem;
    height: 1.30rem;
    margin-right: 0.5rem;
  }
  
  .badge {
    background-color: #3d3a38;
    padding: 0.20rem 1rem;
    border-radius: 25px;
    margin-left: .5rem;
    font-weight: bold;
  }
  
  .button:hover .badge,
  .button:active .badge {
    background-color: #0e0b0b;
  }
  
  .bump {
    animation: bump 300ms ease-out;
  }
  
  @keyframes bump {
    0% {
      transform: scale(1);
    }
    10% {
      transform: scale(0.9);
    }
    30% {
      transform: scale(1.1);
    }
    50% {
      transform: scale(1.15);
    }
    100% {
      transform: scale(1);
    }
  }